APP_NAME=AngularLaravelAuthStarter
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:4200
FRONTEND_URL=http://localhost:4200
CORS_ALLOWED_ORIGINS=http://localhost:4200
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=auth_starter
DB_USERNAME=auth_starter
DB_PASSWORD=change-me

MYSQL_DATABASE=auth_starter
MYSQL_USER=auth_starter
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_PORT=3306
FRONTEND_PORT=4200

JWT_SECRET=
JWT_TTL=15
JWT_REFRESH_TTL=20160
JWT_ALGO=HS256

API_URL=http://localhost:4200/api

PASSKEYS_USER_HANDLE_SECRET=
WEBAUTHN_RP_ID=localhost
WEBAUTHN_RP_NAME=Angular Laravel Auth Starter
WEBAUTHN_ORIGIN=http://localhost:4200

MAIL_MAILER=log
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SCHEME=smtp
MAIL_FROM_ADDRESS=assiane.fahd@gmail.com
MAIL_FROM_NAME="authentification"

RUN_MIGRATIONS=true
